services:
  file-storing:
    build: ./file-storing
    volumes:
      - storing_files:/app/files
    ports:
      - "5001:80"

  file-analysis:
    build: ./file-analysis
    ports:
      - "5002:80"

  gateway:
    build: ./gateway
    depends_on:
      - file-storing
      - file-analysis
    environment:
      FILE_STORING_URL: http://file-storing:80
      FILE_ANALYSIS_URL: http://file-analysis:80
    ports:
      - "5000:80"

volumes:
  storing_files:
